src/main/java/xmtrade/xmtrade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BankAccountStatusService" 
targetNamespace="http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsa10="http://www.w3.org/2005/08/addressing"
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<wsp:Policy wsu:Id="DefaultSvc_policy">
			<sp:SupportingTokens>
				<wsp:Policy>
					<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient"/>
				</wsp:Policy>
			</sp:SupportingTokens>
		</wsp:Policy>

		<xsd:schema elementFormDefault="qualified" targetNamespace="http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09">
			<xsd:element name="UploadRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="BANKLIMITS" type="tns:BANKLIMITS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UploadResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="RESPONSE" type="tns:RESPONSEType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="BANKLIMITS">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="SenderIdentification" type="tns:SenderIdentificationType"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="ReceiverIdentification" type="tns:ReceiverIdentificationType"/>
					<xsd:element minOccurs="0" maxOccurs="1" name="Limits">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="0" maxOccurs="unbounded" name="Participant">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" maxOccurs="unbounded" name="DataGroups">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element minOccurs="0" maxOccurs="1" name="TotalsData" type="tns:ArrayOfSFVOTLIMITSLimitsParticipantDataGroupsData"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute name="dic" type="xsd:string"/>
										<xsd:attribute name="edrpou" type="xsd:string"/>
										<xsd:attribute name="ean" type="xsd:string"/>
										<xsd:attribute name="eic" type="xsd:string"/>
										<xsd:attribute name="bankAccountId" type="xsd:string"/>
										<xsd:attribute name="bankCode" type="xsd:string"/>
										<xsd:attribute name="iban" type="xsd:string"/>
										<xsd:attribute name="ic" type="xsd:string"/>
										<xsd:attribute name="name" type="xsd:string"/>
										<xsd:attribute name="particId" type="xsd:integer"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="date" type="xsd:dateTime" use="required"/>
							<xsd:attribute name="title" type="xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="answer-required" type="xsd:boolean" use="required"/>
				<xsd:attribute name="date-time" type="xsd:dateTime" use="required"/>
				<xsd:attribute name="dtd-release" type="xsd:string"/>
				<xsd:attribute name="dtd-version" type="xsd:unsignedByte" use="required"/>
				<xsd:attribute name="id" type="xsd:string"/>
				<xsd:attribute name="message-code" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="301"/>
							<xsd:enumeration value="302"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSFVOTLIMITSLimitsParticipantDataGroupsData">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="Data">
						<xsd:complexType>
							<xsd:attribute name="type" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="limit"/>
										<xsd:enumeration value="utilization"/>
										<xsd:enumeration value="bonityUtilization"/>
										<xsd:enumeration value="freeResources"/>
										<xsd:enumeration value="limitIMBalM"/>
										<xsd:enumeration value="utilizationIMBalM"/>
										<xsd:enumeration value="freeResourcesIMBalM"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="value" type="xsd:decimal" use="required"/>
							<xsd:attribute name="currency" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="CZK"/>
										<xsd:enumeration value="EUR"/>
										<xsd:enumeration value="UAH"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SenderIdentificationType">
				<xsd:attribute name="id" type="xsd:string"/>
				<xsd:attribute name="coding-scheme" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="NAME"/>
							<xsd:enumeration value="EIC"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="ReceiverIdentificationType">
				<xsd:attribute name="id" type="xsd:string"/>
				<xsd:attribute name="coding-scheme" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="NAME"/>
							<xsd:enumeration value="EIC"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>

			<xsd:complexType name="RESPONSEType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="SenderIdentification">
						<xsd:complexType>
							<xsd:attribute name="id" type="xsd:string"/>
							<xsd:attribute name="coding-scheme" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="EIC"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="ReceiverIdentification">
						<xsd:complexType>
							<xsd:attribute name="id" type="xsd:string"/>
							<xsd:attribute name="coding-scheme" use="required">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="NAME"/>
										<xsd:enumeration value="EIC"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="Reference">
						<xsd:complexType>
							<xsd:attribute name="id" type="xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="Reason">
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="type" use="required">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="E01"/>
												<xsd:enumeration value="E02"/>
												<xsd:enumeration value="E03"/>
												<xsd:enumeration value="S01"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="trade-id" type="xsd:string"/>
									<xsd:attribute name="version" type="xsd:string"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:string"/>
				<xsd:attribute name="message-code" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="501"/>
							<xsd:enumeration value="502"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="date-time" type="xsd:dateTime" use="required"/>
				<xsd:attribute name="dtd-version" type="xsd:string"/>
				<xsd:attribute name="dtd-release" type="xsd:string"/>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UploadRequest">
		<wsdl:part name="parameters" element="tns:UploadRequest"/>
	</wsdl:message>
	<wsdl:message name="UploadResponse">
		<wsdl:part name="parameters" element="tns:UploadResponse"/>
	</wsdl:message>
	<wsdl:portType name="BankAccountStatusContract">
		<wsdl:operation name="Upload">
			<wsdl:input wsaw:Action="http://oree.com.ua/etsua/soapsvc/BankLimits/Upload" name="UploadRequest" message="tns:UploadRequest"/>
			<wsdl:output wsaw:Action="http://oree.com.ua/etsua/soapsvc/BankLimits/UploadResponse" name="UploadResponse" message="tns:UploadResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DefaultEndpoint" type="tns:BankAccountStatusContract">
		<wsp:PolicyReference URI="#DefaultEndpoint_policy"/>
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Upload">
			<soap12:operation soapAction="http://oree.com.ua/etsua/soapsvc/BankLimits/Upload" style="document"/>
			<wsdl:input name="UploadRequest">
				<wsp:PolicyReference URI="#DefaultSvc_policy"/>
				<soap12:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BankAccountStatusService">
		<wsdl:port name="DefaultEndpoint" binding="tns:DefaultEndpoint">
			<soap12:address location="https://rdn-vdr-test.oree.com.ua/index.php/bank_ws/upload"/>
			<wsa:EndpointReference>
				<wsa:Address>https://rdn-vdr-test.oree.com.ua/index.php/bank_ws/upload</wsa:Address>
			</wsa:EndpointReference>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>